.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 10px 20px;
}
.bg-givencolor{
    background-color: #FEEAE9;
}
.price-info{
    color:#ff136f;
}
.buy-btn{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: #fff;
    border: none;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: #ff136f;
}
.cat3{
    background-color: lightblue;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
#subscribe{
    height: 300px;
    
}
footer{
    text-align: center;
}
